
body{
    background-color: black;
    font-family: sans-serif;
    color:white;

}

.card{
    background-color: coral;
    text-align: center;
    width: 200px;
    margin: auto;  /*se centra en el medio de su  caja madre*/
}

h1{
    padding-top: 10px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 15px;
    padding: 20px;
    background-color: lightcoral;
     /*text-align:comportamiento del texto*/   
}
